
.idea/*
amparser-output/*
cailam-output/*
archive/*
*.pyc
test_raw.txt
test.txt
amrbank-analysis/outputs/*
amrbart-output/*
amrbart.log
amrbank-analysis/outputs/named_entity_types.txt
amrbank-analysis/outputs/rare_node_labels.txt
amrbank-analysis/outputs/special_entities.txt
external_resources/*
*~
#*#
amrbank_analysis/outputs/ambiguous_lemmas_vulcan/*
amrbank_analysis/outputs/named_entity_types_test.txt
amrbank_analysis/outputs/named_entity_types_test_no_wiki_links.txt
amrbank_analysis/outputs/interesting_unseen_frames.txt
amrbank_analysis/outputs/frame_role_counts.txt
amrbank_analysis/outputs/frame_counts.txt
amrbank_analysis/outputs/named_entity_types_test_rare_names.txt
amrbank_analysis/outputs/named_entity_types_test_unseen_names.txt
amrbank_analysis/outputs/named_entity_types_test_unseen_wiki_links.txt
amrbank_analysis/outputs/undocumented_frame_roles.txt
amrbank_analysis/outputs/undocumented_frames.txt
amrbank_analysis/outputs/unseen_frame_roles_test.txt
amrbank_analysis/outputs/unseen_frames_test.txt
amrbank_analysis/outputs/unseen_roles_of_seen_frames.txt
amrbank_analysis/outputs/nontrivial_wiki_links_testset.txt
amrbank_analysis/outputs/sense_prompts.txt
log.txt
corpus/centre_embedding_amrbart_input.jsonl
corpus/centre_embedding_raw_input.txt
corpus/nested_control_amrbart_input.jsonl
corpus/nested_control_raw_input.txt
corpus/testset_raw_input.txt
corpus/testset.txt
corpus/adjectives_amrbart_input.jsonl
corpus/adjectives_raw_input.txt
corpus/adjectives_sanity_check_amrbart_input.jsonl
corpus/adjectives_sanity_check_raw_input.txt
error_analysis/visual_inspection/amparser-reentrancies_pragmatic_filtered.pkl
error_analysis/visual_inspection/amparser-reentrancies_syntactic_filtered.pkl
error_analysis/visual_inspection/amrbart-reentrancies_pragmatic_filtered.pkl
error_analysis/visual_inspection/amrbart-reentrancies_syntactic_filtered.pkl
*.tsv#
error_analysis/visual_inspection/amparser-adjectives.pkl
error_analysis/visual_inspection/amparser-adjectives_sanity_check.pkl
error_analysis/visual_inspection/amparser-nested_control.pkl
error_analysis/visual_inspection/amrbart-adjectives.pkl
error_analysis/visual_inspection/amrbart-adjectives_sanity_check.pkl
error_analysis/visual_inspection/amrbart-nested_control.pkl
corpus/testset_tokenized_input.txt
corpus/bought_for_amrbart_input.jsonl
corpus/give_up_in_amrbart_input.jsonl
corpus/keep_from_amrbart_input.jsonl
corpus/read_by_amrbart_input.jsonl
corpus/see_with_amrbart_input.jsonl
error_analysis/visual_inspection/amrbart-bought_for.pkl
error_analysis/visual_inspection/amrbart-give_up_in.pkl
error_analysis/visual_inspection/amrbart-keep_from.pkl
corpus/read_by_tokenized_input.txt
error_analysis/visual_inspection/amparser-read_by.pkl
corpus/see_with_tokenized_input.txt
corpus/keep_from_tokenized_input.txt
corpus/give_up_in_tokenized_input.txt
corpus/bought_for_tokenized_input.txt
corpus/nested_control_small.txt
corpus/nested_control_small_amrbart_input.jsonl
*.pkl
error_analysis/unseen_node_labels.pkl
corpus/centre_embedding_sanity_check_amrbart_input.jsonl
corpus/nested_control_debugging.txt
corpus/deep_recursion_3s_amrbart_input.jsonl
corpus/deep_recursion_3s_sanity_check_amrbart_input.jsonl
corpus/deep_recursion_basic_amrbart_input.jsonl
corpus/deep_recursion_basic_sanity_check_amrbart_input.jsonl
corpus/deep_recursion_pronouns_amrbart_input.jsonl
corpus/deep_recursion_pronouns_sanity_check_amrbart_input.jsonl
corpus/deep_recursion_rc_amrbart_input.jsonl
corpus/deep_recursion_rc_contrastive_coref_amrbart_input.jsonl
corpus/deep_recursion_rc_contrastive_coref_sanity_check_amrbart_input.jsonl
corpus/deep_recursion_rc_sanity_check_amrbart_input.jsonl
corpus/nested_control_sanity_check_amrbart_input.jsonl
error_analysis/unseen_node_labels.pkl
error_analysis/unseen_node_labels.pkl
corpus/debug.txt
corpus/debug_tokenized_input.txt
corpus/i_counted_amrbart_input.jsonl
corpus/i_counted_sanity_check_amrbart_input.jsonl
corpus/long_lists_sanity_check_amrbart_input.jsonl
corpus/long_lists_sanity_check_tokenized_input.txt
corpus/please_buy_amrbart_input.jsonl
corpus/she_visited_countries_amrbart_input.jsonl
*.csv#
corpus/unseen_roles_new_sentences_amrbart_input.jsonl
corpus/unseen_senses_new_sentences_amrbart_input.jsonl
corpus/winograd_amrbart_input.jsonl
corpus/berts_mouth_amrbart_input.jsonl
corpus/word_disambiguation_amrbart_input.jsonl
corpus/word_disambiguation_tokenized_input.txt
corpus/long_lists_amrbart_input.jsonl
corpus/long_lists_amrbart_input.jsonl
*.txt#
corpus/.\#word_type_ambiguities.txt
amparser-output.zip
corpus/berts_mouth_tokenized_input.txt
corpus/long_distance_dependencies_amrbart_input.jsonl
corpus/unseen_roles_new_sentences_tokenized_input.txt
corpus/unseen_senses_new_sentences_tokenized_input.txt
corpus/word_disambiguation1.txt
corpus/word_disambiguation1_amrbart_input.jsonl
corpus/testsetAMR2_0.txt
scripts/file_manipulations/random_debug.py
corpus/unbounded_dependencies_amrbart_input.jsonl
corpus/subcorpora/unbounded_dependencies.txt
corpus/unbounded_dependencies.tsv
corpus/test_corpus.txt
corpus/subcorpora/word_disambiguation.txt
results.csv
corpus/no_unbounded.txt
corpus/no_word_disambig.txt
corpus/unbounded_dependencies.txt
corpus/unbounded_dependencies_old_ids.tsv
